<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm" id="form-register">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" value="" name="name" [ngClass]="{'valid': inputName1.valid, 'invalid': inputName1.invalid}" #inputName1="ngModel" required id="name" [(ngModel)]="register.name">
    <p  [ngClass]="{'valid': inputName1.valid, 'invalid': inputName1.invalid}">Ingrese su nombre</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" [ngClass]="{'valid': inputEmail1.valid, 'invalid': inputEmail1.invalid}" #inputEmail1="ngModel" required id="email" [(ngModel)]="register.email">
    <p [ngClass]="{'valid': inputEmail1.valid, 'invalid': inputEmail1.invalid}">Ingrese su correo</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" [ngClass]="{'valid': inputPassword1.valid, 'invalid': inputPassword1.invalid}" #inputPassword1="ngModel" required id="password" [(ngModel)]="register.password">
    <p [ngClass]="{'valid': inputPassword1.valid, 'invalid': inputPassword1.invalid}">Ingrese su contraseña</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>

<hr/>
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
  [ngClass]=" {
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  } "
  />
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width"/>
    <input type="number" [(ngModel)]="box.height"/>
    <input type="color" [(ngModel)]="box.background"/>
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }" ></div>
  </div>
</div>


<hr/>
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label [style.font-style]="nameInput3.invalid ? 'italic' : 'normal' " >Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal' ">Texto Texto Texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="Imagen">
  </div>
</div>


<hr/>
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Christian'">
    La persona es Christian
  </p>
  <p *ngSwitchCase="'Isabel'">
    La persona es Isabel
  </p>
  <p *ngSwitchCase="'Laura'">
    La persona es Laura
  </p>
  <p *ngSwitchDefault>
    No hace match
  </p>
</div>

<!-- <p *ngIf="person.name === 'Christian'">
  La persona es Christian
</p>
<p *ngIf="person.name === 'Isabel'">
  La persona es Isabel
</p>
<p *ngIf="person.name === 'Laura'">
  La persona es Laura
</p> -->

<hr/>
<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img width="250px" [src]="product.image" alt="image">
    <h2> {{product.price}} </h2>
    <p> {{product.name}} </p>
  </div>
</div>

<hr/>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>

<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr/>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Christian'">Soy Christian</p>
<p *ngIf="person.name === 'Laura' && person.age === 18; else myBlock">Soy Laura</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>

<hr/>
<h1>NgModel</h1>
<p>Nombre : {{person.name}} </p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{nameInput.valid}} </p>
<p>Nombre : {{person.age}} </p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ageInput.valid}} </p>
<hr/>

<h1>eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toogleButton()">Toggle Button</button>
<p>Edad {{person.age}} </p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias qui quam hic ipsum quibusdam quas soluta totam explicabo animi! Ratione dicta nesciunt, veniam modi sed itaque nostrum adipisci vel cumque?
  Velit ratione quo libero sunt voluptatum veritatis dolor aut sint eum culpa, blanditiis, dolorum veniam laborum distinctio sequi ipsam. Fuga, ducimus officia molestias rem modi possimus molestiae quod sit obcaecati?
  Quisquam autem ea, modi id placeat blanditiis amet sequi, magni praesentium qui tempora minus asperiores magnam! Consectetur nam repellendus, labore unde ipsam maiores iure pariatur asperiores voluptatem expedita earum iusto.
  Veritatis, quia cupiditate aliquid modi quisquam at quaerat. Placeat, fuga voluptas. Culpa nostrum voluptatem, facilis doloremque rerum quaerat corporis consectetur dolorum perferendis ullam ab, necessitatibus aut accusantium molestiae amet non.
  Placeat, laboriosam. Incidunt dolorem vero maxime, id, veniam molestias labore blanditiis consequuntur ratione, facilis at corporis. Voluptates eaque ullam, atque ratione molestias cumque! Nulla eligendi numquam placeat totam? Beatae, expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero incidunt ea quae officiis consequuntur eaque laborum quis eos, itaque commodi odit optio facere sit inventore saepe alias sed a expedita?</p>
</div>

<p>Nombre : {{person.name}} </p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<hr/>
<!-- Property Binding -->
<h1>Propiedades</h1>
<button [disabled]="btnDisabled" >Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="150px" [src]="person.avatar" alt="">
<hr/>
<h1>Hola mundo</h1>
<!-- Templates  -->
<!-- String interpolation -->
<h2> {{'Hola mundo '.repeat(5)}} </h2>
<p> 3 + 3 = {{3+3}} </p>
<h3> Hola, soy {{name}} y tengo {{age}} años </h3>
<img width="150px" height="150px" src={{img}} alt="image" style="border-radius: 50%;">
